.Input {
  box-sizing: border-box;
  font-family: "Open Sans", Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6879bb;
  width: 100%;
  height: 36px;
  border: 1px solid #d6dce9;
  border-radius: 4px;
  outline: none;
  padding: 0 12px;
  background-color: #fff;
  transition: border-color 0.3s, color 0.3s;
  position: relative;
  z-index: 1;

  &:hover,
  &:focus {
    color: #415fd5;
    border-color: #415fd5;
  }

  &:disabled,
  &:disabled:hover {
    color: rgba(51, 51, 51, 0.5);
    background-color: #f5f5f5;
    border-color: #d6dce9;
  }

  &.error,
  &.error:disabled {
    border-color: #ee4141;
  }

  & + .errorMessage {
    color: #ee4141;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 24px;
    display: none;
  }

  &.error + .errorMessage {
    display: block;
  }
}

::placeholder {
  color: #ccc;
}
