.AppBar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(104, 121, 187, 0.15);
  padding: 0 28px;
  min-height: 60px;
  width: 100%;
  z-index: 1;

  .barStart,
  .barEnd {
    display: flex;
    align-items: center;
  }

  .logoutLink {
    font-size: 12px;
  }

  .drawerButton,
  .navLink {
    margin-right: 12px;
  }

  .navLink {
    font-family: "Open Sans";
    text-decoration: none;
    display: inline-block;
    color: #6879bb;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;

    &:hover {
      color: #2557a1;
      text-decoration: underline;
    }

    &:active {
      color: #bd2b7b;
    }

    &:focus {
      text-decoration: underline;
      outline: none;
    }
  }
}

.drawerButton {
  background: none;
  background-image: url("drawer-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: box-shadow 0.2s, background-color 0.2s;

  &:hover {
    box-shadow: 0 0 15px 2px #eee;
    background-color: #eee;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 0 15px 2px #ddd;
    background-color: #ddd;
  }
}
