.password-input {
  display: inline-block;
  width: 100%;
  position: relative;

  &__eye {
    background-image: url("./icons/eye.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 12px;
    height: 12px;
    z-index: 2;
    cursor: pointer;
    user-select: none;

    &_closed {
      background-image: url("./icons/eye-closed.svg");
    }
  }
}
