@import "../../../index.scss";

.head,
.navigation li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  height: 60px;
  width: 100%;
}

.head {
  background: #535374;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.logo {
  background-image: url("./icons/logo-drawer.svg");
  width: 66.32px;
  height: 24px;
  margin-left: 16px;
}

.navigation {
  ul {
    list-style: none;
  }

  li {
    position: relative;
    padding-left: 60px;

    &::before {
      content: "";
      position: absolute;
      left: 24px;
      top: 18px;
      background-position: center;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }
  }

  a {
    color: #fff;
    font-weight: 700;

    &:hover {
      color: #fff;
    }

    &:active {
      color: #bd2b7b;
    }
  }
}

.profileLink::before {
  background-image: url("./icons/drawer-profile.svg");
}

.processesLink::before {
  background-image: url("./icons/drawer-processes.svg");
}

.button {
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: box-shadow 0.2s, background-color 0.2s;

  &:hover {
    box-shadow: 0 0 15px 2px #eee;
    background-color: #eee;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 0 15px 2px #ddd;
    background-color: #ddd;
  }

  &.darkButton {
    background-image: url("./icons/drawer-button-dark.svg");

    &:hover {
      box-shadow: 0 0 15px 2px rgba($color: #aaa, $alpha: 0.5);
      background-color: rgba($color: #aaa, $alpha: 0.5);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 0 15px 2px #666;
      background-color: #666;
    }
  }
}
